/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .accordion-toggle{
   cursor: pointer;
 }
 .expand-button {
 	position: relative;

 }

 .accordion-toggle .expand-button:after
 {
   position: absolute;
   /* left:.75rem; */
   top: 50%;
   /* transform: translate(0, -50%); */
   content: '-';
 }
 .accordion-toggle.collapsed .expand-button:after
 {
   content: '+';
 }
